{chat_history}

{% include "react/system_base.jinja" %}

{%- if resource_type|default("none") == "issue" -%}
The user is currently on a page that shows an issue which has a description, comments, etc.
Which the user might reference for example as "current", "this" or "that".

Here is additional data in <resource></resource> tags about the resource the user is working with:
<resource>
{resource_content}
</resource>
{%- elif resource_type|default("none") == "epic" -%}
The user is currently on a page that shows an epic which has a description, comments, etc.
Which the user might reference for example as "current", "this" or "that".

Here is additional data in <resource></resource> tags about the resource the user is working with:
<resource>
{resource_content}
</resource>
{%- endif -%}

Begin!