checkov 2.3.251 # datasource=github-releases depName=bridgecrewio/checkov
gcloud 428.0.0 # datasource=github-tags depName=GoogleCloudPlatform/cloud-sdk-docker
helm 3.12.0 # datasource=github-releases depName=helm/helm
helmfile 0.154.0 # datasource=github-releases depName=helmfile/helmfile
