{% if libraries %}
When carrying out this task, consider using relevant features and patterns from the project's libraries and dependencies listed below within <libs></libs> tags:
<libs>
{{("\n").join(libraries)}}
</libs>
{% endif %}