{%- if additional_context %}
User added additional context below enclosed in <additional_context></additional_context> tags. Each additional context has an ID, category, and content:

{%- for added_context in additional_context %}
<additional_context>
    <id> {{ added_context.id }} </id>
    <category> {{ added_context.category }} </category>
    <content>
    {{ added_context.content }}
    </content>
</additional_context>
{%- endfor %}
{%- endif %}