{%- if current_file %}
{%- if current_file.selected_code %}
User selected code below enclosed in <code></code> tags in file {{ current_file.file_path }} to work with:

<code>
{{ current_file.data }}
</code>
{%- else %}
The current code file that user sees is {{ current_file.file_path }} and has the following content:
<content>
{{ current_file.data }}
</content>
{%- endif %}
{%- endif %}