{{file_content}}
In the file user selected this code:
<selected_code>
  {{selected_text}}
</selected_code>

{{input}}
{{file_content_reuse}}
Any code blocks in response should be formatted in markdown.
