# https://gitlab.com/groups/gitlab-org/maintainers/ai-gateway/-/group_members?with_inherited_permissions=exclude
* @gitlab-org/maintainers/ai-gateway
.runway/ @gitlab-org/production-engineering @gitlab-org/scalability
