* @gitlab-org/maintainers/ai-gateway @gitlab-org/production-engineering @gitlab-org/scalability

^[Development]
# https://gitlab.com/groups/gitlab-org/maintainers/ai-gateway/-/group_members?with_inherited_permissions=exclude
* @gitlab-org/maintainers/ai-gateway

^[Infrastructure]
* @gitlab-org/production-engineering @gitlab-org/scalability