## Existing code:

{{prefix}}

## Instruction to generate the new code:

{%- if instruction %}
  {{instruction}}
{%- else %}
  Generate the best possible code based on instructions.
{%- endif %}

Don't try to generate complete code just generate what is instructed.

Don’t repeat the existing code in your response.

Just respond with code without any human text.
