Each comment is wrapped in a <comment> tag.

Desired markdown format:
**<summary_title>**
- <bullet_point>
- <bullet_point>
- <bullet_point>
- ...

{{notes_content}}

Focus on extracting information related to one another and that are the majority of the content.
Ignore phrases that are not connected to others.
Do not specify what you are ignoring.
Do not answer questions.
